.DropDownMenu {
  &_button {
    &.MuiButtonBase-root {
      color: black;
      height: fit-content;
      width: fit-content;
      padding: 0;
    }

    &.MuiButton-root:hover {
      background-color: transparent;
      border: none;
    }

    & > span.MuiTouchRipple-root {
      color: transparent;
    }
  }

  &_icon {
    &.MuiSvgIcon-root {
      font-size: 2em;
    }
  }
}
