.fullNote {
  &_actions {
    display: flex;
    justify-content: space-between;
  }

  &_icon {
    &.MuiSvgIcon-root {
      font-size: 2.5em;
      cursor: pointer;
    }
  }

  &_editableContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  &_editableTitle {
    font-family: var(--title-typography);
    color: var(--primary);
    font-size: 2em;
    border: none;

    &:focus {
      outline: none;
    }
  }

  &_editableText {
    resize: none;
    height: 70vh !important;
    border: none;
    font-family: var(--general-typography);
    font-size: 1em;

    &:focus {
      outline: none;
    }
  }
}
