.fullNote {
  &_actions {
    display: flex;
    justify-content: space-between;
  }

  &_icon {
    &.MuiSvgIcon-root {
      font-size: 2.5em;
      cursor: pointer;
    }
  }

  &_editableContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  &_editableTitle {
    font-family: var(--title-typography);
    color: var(--primary);
    font-size: 2em;
    outline-color: var(--primary);
  }
}
