.Card {
  &.MuiCard-root {
    min-width: 280px;
    border: 3px solid black;
    border-radius: 15px;
    margin-bottom: 1em;
  }
}

.notes-container {
  &__loading {
    min-width: 280px;
    width: 90vw;
  }
}
