.NoteContainer_title{
  color: var(--primary);

  &.MuiTypography-root {
    font-family: var(--title-typography);
    font-size: 2em;
  }
}

.NoteContainer_date{

  &.MuiTypography-root {
    font-family: var(--general-typography);
    font-size: 1em;
  }
}

.NoteContainer_text{

  &.MuiTypography-paragraph {
    font-family: var(--general-typography);
    font-size: 1em;
  }
}