@use '../../scss/abstracts/variables';

main {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h1 {
  align-self: flex-start;
  padding-left: 10%;
  padding-top: 10%;
  font-size: 4em;
}

h2 {
  font-family: var(--title-typography);
  font-size: 2.5em;
}

span {
  color: var(--primary);
}

a {
  color: var(--primary);
  text-decoration: underline;
}
